/* Contact Us Main */
.employee-container {
    width: 90vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-family: var(--ff-secondary);
}

.employee-info {
    margin: 1rem;
    padding: 1rem;
}

.employee-info > img {
    height: 15rem;
    aspect-ratio: 1 / 1;
    margin: 0 auto;
    margin-bottom: 0.5rem;
}

.employee-name,
.employee-role,
.employee-mail {
    margin: 0 0.5rem;
    text-align: center;
}

.employee-mail > a{
    color: rgb(var(--clr-neutral-1));
    text-decoration: underline;
}