/* || VARAIABLES */
:root {
 /* Colours */
 --clr-neutral-1: 0, 0, 0; /* Black */
 --clr-neutral-2: 255, 255, 255; /* White */
 --clr-neutral-3: 50, 50, 50; /* Dark Grey */
 --clr-primary-1: 46, 13, 2; /* Dark Chocolate */
 --clr-primary-2: 242, 228, 215; /* Cream */
 --clr-secondary-1: 58, 119, 143; /* Denim Blue */

 /* Fonts */
 --ff-primary: 'Roboto', 'Arial', sans-serif;
 --ff-secondary: 'Calibri', sans-serif;
 --ff-accent: 'Avant Garde', serif;
}

/* || GENERAL STYLES */
*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    background: none;
}

body {
    margin: 0;
    font-family: var(--ff-primary);
    font-weight: 400;
    line-height: 1.5;
    color: rgb(var(--clr-neutral-1));
    background-color: rgb(var(--clr-primary-2));
}

h1,
h2,
h3,
h4 {
    margin: 0.25em;
    color: rgb(var(--clr-primary-1));
    font-family: var(--ff-accent);
    text-align: center;
}

hr {
    width: 50vw;
    margin: 1rem auto;
    border: 0;
    height: 2px;
    background: linear-gradient(to right, rgba(var(--clr-primary-1), 0), rgba(var(--clr-primary-1), 1), rgba(var(--clr-primary-1), 0));
}

header {
    background-color: rgb(var(--clr-primary-1));
    display: flex;
    align-items: center;
    padding: 0.5em;
}

nav {
    margin-left: auto;
}

img {
    display: block;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0 1.5em;
    padding: 0 1em;
    list-style: none;
    justify-content: flex-end;
}

nav a {
    position: relative;
    color: rgb(var(--clr-neutral-2));
    font-family: var(--ff-secondary);
    text-transform: uppercase;
}

nav a::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0.1em;
    bottom: -0.1em;
    left: 50%;
    transition:
        width 350ms ease,
        left 350ms ease,
        background-color 350ms ease;
}

figcaption {
    text-align: center;
    margin: 0.5em 1em;
    font-size: 0.75rem;
}

figcaption, 
figcaption a {
    color: rgb(var(--clr-neutral-1));
}

figcaption a {
    text-decoration: underline;
}

/* TODO: The active page in the nav bar is marked.
    Use JS(?) to mark a link as active in the class */

nav a:hover::before {
    width: 100%;
    left: 0;
    background-color: rgb(var(--clr-neutral-2));
}

/* || SITEWIDE */
#skip-navigation {
    position: absolute;
    left: 6em;
    top: -1000px;

    font-size: 0.75em;
    text-decoration: none;
    color: rgb(var(--clr-neutral-2));
    font-family: var(--ff-secondary);
    text-transform: uppercase;
    background-color: rgb(var(--clr-neutral-3));
    padding: 0.5rem;
    border-radius: 1rem;
    border: 2px solid rgb(var(--clr-neutral-2));
    transition: border 100ms ease-out;
    z-index: 1;
}

#skip-navigation:focus {
    top: 1.5em;
    outline: none;
}

#skip-navigation:hover {
    border: 2px solid rgb(var(--clr-neutral-1));
}

.logo {
    height: 3em;
    width: auto;
    margin: 0.5em;
    border-radius: 50%;
    display: block;
}