@import url(https://fonts.googleapis.com/css?family=Trirong);

/* || VARAIABLES */
:root {
    /* Colours */
    /* Black */
    --clr-neutral-1: 0, 0, 0;
    /* White */
    --clr-neutral-2: 255, 255, 255;
    /* Dark Grey */
    --clr-neutral-3: 50, 50, 50;
    /* Dark Chocolate */
    --clr-primary-1: 45, 15, 0;
    /* Cream */
    --clr-primary-2: 240, 230, 215;
    /* Hot Sauce */
    --clr-secondary-1: 220, 50, 10;

    /* Fonts */
    --ff-primary: 'Arial', 'Helvetica', sans-serif;
    --ff-secondary: 'Calibri', sans-serif;
    --ff-accent: 'Trirong', 'Roboto Slab', serif;

    /* Sizes */
    --nav-height: 5rem;
}

/* || GENERAL STYLES */
*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    background: none;
}

html {
    font-family: var(--ff-primary);
    font-weight: 400;
    line-height: 1.5;
    color: rgb(var(--clr-neutral-1));
}

body {
    margin: 0;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: rgb(var(--clr-primary-2));
}

h1,
h2,
h3,
h4, 
h5,
h6 {
    margin: 0.5rem;
    color: rgb(var(--clr-primary-1));
    font-family: var(--ff-accent);
    text-align: center;
}

hr {
    width: 20em;
    margin: 2rem auto;
    border: none;
    height: 2px;
    background: white;
    background: linear-gradient(to right, rgba(var(--clr-primary-1), 0), rgba(var(--clr-primary-1), 1), rgba(var(--clr-primary-1), 0));
    border-bottom: 1px solid transparent;
}

header {
    height: var(--nav-height);
    background-color: rgb(var(--clr-primary-1));
    box-shadow: 
        0 2px 5px 0 rgba(var(--clr-neutral-1), 0.16), 
        0 2px 10px 0 rgba(var(--clr-neutral-1), 0.12);
}

.nav-container {
    height: inherit;
    position: relative;
    margin: 0 auto;
}

nav {
    margin-right: calc(var(--nav-height) / 2);
    float: right;
}

img {
    display: block;
}

.skip-link {
    position: absolute;
    font-size: 0.75rem;
    text-decoration: none;
    color: rgb(var(--clr-neutral-2));
    font-family: var(--ff-secondary);
    text-transform: uppercase;
    background-color: rgb(var(--clr-neutral-3));
    padding: 0.5rem;
    border-radius: 1rem;
    border: 3px solid rgb(var(--clr-neutral-2));
    transition: border 100ms ease-out;
    z-index: 2;
}

p {
    margin: 0.5rem 1rem;
}

details {
    margin: 0.5rem 1rem;
}

main {
    padding-bottom: 1em;
}

figcaption {
    text-align: center;
    margin: 0.5em 1em;
    font-size: 0.75rem;
}

figcaption,
figcaption a {
    color: rgba(var(--clr-neutral-1), 0.5);
}

figcaption a {
    text-decoration: underline;
}

footer {
    border-top: 1px solid transparent;
    min-height: 10em;
    font-size: 0.9rem;
    margin-top: 1rem;
    color: rgb(var(--clr-neutral-2));
    background-color: rgb(var(--clr-primary-1));
}

footer a:hover {
    color: rgb(var(--clr-secondary-1));
}

footer h3 {
    color: rgb(var(--clr-primary-2));
}

/* || SITEWIDE */
/* Navigation (Desktop) */
.logo-link {
    position: absolute;
    top: 0;
    left: 0;
    height: var(--nav-height);
    aspect-ratio: 1 / 1;
    z-index: 1;
}

.logo-img {
    position: absolute;
    display: block;
    width: calc(var(--nav-height) * 0.8);
    aspect-ratio: 1 / 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#skip-navigation {
    left: calc(var(--nav-height) + 1rem);
    top: -1000px;
}

#skip-navigation:focus {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    outline: none;
}

#skip-navigation:hover {
    border-color: rgb(var(--clr-secondary-1));
}

.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-list li {
    float: left;
    padding: 0 1em;
    position: relative;
}

.nav-link {
    position: relative;
    display: block;
    font-family: var(--ff-secondary);
    line-height: var(--nav-height);
    color: rgb(var(--clr-neutral-2));
    text-transform: uppercase;
    text-decoration: none;
    z-index: 1;
}

.nav-link:focus {
    outline: none;
}

@media screen and (min-width: 600px) {
    .nav-list {
        display: block !important;
    }

    .nav-link::before {
        content: '';
        position: absolute;
        background-color: rgb(var(--clr-neutral-2));
        width: 0;
        height: 0.1em;
        top: calc(50% + 1rem);
        left: 50%;
        transition:
            width 350ms ease,
            left 350ms ease,
            background-color 350ms ease;
    }
    
    .nav-link.active::before {
        width: 100%;
        left: 0;
        background-color: rgb(var(--clr-neutral-2));
    }
    
    .nav-link:is(:hover, :focus)::before {
        width: 100%;
        left: 0;
        height: 0.2em;
        background-color: rgb(var(--clr-secondary-1));
    }
}

.highlight {
    color: rgb(var(--clr-secondary-1));
    font-weight: 700;
}

@media (forced-colors: active) {
    a:hover {
        color: highlight;
    }

    .nav-link.active {
        border-bottom: 2px solid;
    }

    .nav-link.active:hover {
        border-bottom: none;
    }

    .nav-link::before {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
    }
}

/* Navigation (Mobile) */
.nav-mobile {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    height: var(--nav-height);
    width: var(--nav-height);
}

@media only screen and (max-width: 599px) {
    .nav-mobile {
        display: block;
    }

    nav {
        width: 100%;
        margin: 0;
        padding: var(--nav-height) 0 0;
    }

    .nav-list {
        display: none;
    }

    .nav-list li {
        float: none;
        padding: 0;
    }

    .nav-link {
        background-color: rgb(var(--clr-primary-1));
        padding: 1em;
        line-height: 2em
    }

    .nav-link:is(:hover, :focus) {
        background-color: rgb(var(--clr-neutral-1));
    }
}

#nav-toggle {
    position: absolute;
    width: 35px;
    height: 25px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    background: none;
    border: none;
}

.hamburger,
.hamburger:before,
.hamburger:after {
    position: absolute;
    display: block;
    content: '';
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: rgb(var(--clr-neutral-2));
    transition: all 300ms ease-in-out;
}

.hamburger:before {
    top: 10px;
}

.hamburger {
    top: 0px;
}

.hamburger:after {
    top: 20px;
}

#nav-toggle.active > .hamburger {
    background-color: transparent;
}

#nav-toggle.active > .hamburger:before,
#nav-toggle.active > .hamburger:after {
    top: 10px;
}

#nav-toggle.active > .hamburger:before {
    transform: rotate(45deg);
}

#nav-toggle.active > .hamburger:after {
    transform: rotate(-45deg);
}

/* Main */
.split {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 90vw;
    margin: 0 auto;
}

@media (min-width: 50em) {
    .split {
        flex-direction: row;
    }

    .split>* {
        /* Every child of .split has equal width */
        flex-basis: 100%;
    }
}

@media (min-width: 100em) {
    .split {
        flex-direction: row;
    }

    .split>.split--larger {
        flex-basis: 70%;
    }

    .split>.split--smaller {
        flex-basis: 30%;
    }
}

/* Footer */
.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 3em;
    justify-content: space-between;
}

@media (min-width: 600px) {
    .footer-container {
        flex-direction: row;
    }
}

.footer-container>* {
    margin: 1em;
}

/* .footer-container>div:first-child {
    margin-right: auto;
}

.footer-container>div:last-child {
    margin-left: auto;
} */

.find-us-text {
    display: flex;
    margin: 0.5em;
}

.find-us-text > a {
    color: rgb(var(--clr-neutral-2));
}

.find-us-icon {
    display: inline-block;
    margin-right: 0.3em;
    height: 1.5em;
    aspect-ratio: 1 / 1;
    fill: rgb(var(--clr-neutral-2));
    filter: invert(100%) saturate(0%);
}

.social-media-link {
    display: inline-block;
    margin: 0.1em;
    height: 2em;
    aspect-ratio: 1;
}

.social-media-icon {
    height: inherit;
    width: inherit;
    fill: rgb(var(--clr-neutral-2));
    filter: invert(100%) saturate(0%);
}

.social-media-icon:is(:hover, :focus) {
    filter: invert(60%) saturate(0%);
}