/* || VARAIABLES */
:root {
    /* Colours */
    /* Black */
    --clr-neutral-1: 0, 0, 0;
    /* White */
    --clr-neutral-2: 255, 255, 255;
    /* Dark Grey */
    --clr-neutral-3: 50, 50, 50;
    /* Dark Chocolate */
    --clr-primary-1: 45, 15, 0;
    /* Cream */
    --clr-primary-2: 240, 230, 215;
    /* Hot Sauce */
    --clr-secondary-1: 220, 50, 10;

    /* Fonts */
    --ff-primary: 'Roboto', 'Arial', sans-serif;
    --ff-secondary: 'Calibri', sans-serif;
    --ff-accent: 'Trirong', 'Avant Garde Medium', serif;
}

/* || GENERAL STYLES */
*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    background: none;
}

html {
    font-family: var(--ff-primary);
    font-weight: 400;
    line-height: 1.5;
    color: rgb(var(--clr-neutral-1));
}

body {
    margin: 0;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: rgb(var(--clr-primary-2));
}

h1,
h2,
h3,
h4 {
    margin: 0.25em;
    color: rgb(var(--clr-primary-1));
    font-family: var(--ff-accent);
    text-align: center;
}

hr {
    width: 20em;
    margin: 1rem auto;
    border: 0;
    height: 2px;
    background: white;
    background: linear-gradient(to right, rgba(var(--clr-primary-1), 0), rgba(var(--clr-primary-1), 1), rgba(var(--clr-primary-1), 0));
    border-bottom: 1px solid transparent;
}

header {
    background-color: rgb(var(--clr-primary-1));
    display: flex;
    align-items: center;
    padding: 0.5em;
}

nav {
    margin-left: auto;
}

img {
    display: block;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0 1.5em;
    padding: 0 1em;
    list-style: none;
    justify-content: flex-end;
}

nav a {
    position: relative;
    color: rgb(var(--clr-neutral-2));
    font-family: var(--ff-secondary);
    text-transform: uppercase;
}

nav a::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0.1em;
    bottom: -0.1em;
    left: 50%;
    transition:
        width 350ms ease,
        left 350ms ease,
        background-color 350ms ease;
}

@media (forced-colors: active) {
    a:hover {
        color: highlight;
    }

    nav .active {
        border-bottom: 2px solid;
    }

    nav .active:hover {
        border-bottom: none;
    }

    nav a::before {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
    }
}

nav .active::before,
nav a:hover::before {
    width: 100%;
    left: 0;
    background-color: rgb(var(--clr-neutral-2));
}

nav .active:hover::before {
    width: 0%;
    left: 50%;
    background-color: rgb(var(--clr-primary-1));
}

main {
    padding-bottom: 1em;
}

figcaption {
    text-align: center;
    margin: 0.5em 1em;
    font-size: 0.75rem;
}

figcaption,
figcaption a {
    color: rgba(var(--clr-neutral-1), 0.5);
}

figcaption a {
    text-decoration: underline;
}

footer {
    border-top: 1px solid transparent;
    min-height: 10em;
    font-size: 0.75em;
    color: rgb(var(--clr-neutral-2));
    background-color: rgb(var(--clr-primary-1));
}

footer a:hover {
    color: rgb(var(--clr-secondary-1));
}

footer h3 {
    color: rgb(var(--clr-primary-2));
}

footer>div>div {
    display: inline-block;
}

/* || SITEWIDE */
/* Main */
.container {
    padding: 0.5rem 2rem;
}

.split {
    display: flex;
    flex-direction: column;
}

@media (min-width: 50em) {
    .split {
        flex-direction: row;
    }

    .split>* {
        /* Every child of .split has equal width */
        flex-basis: 100%;
    }

    .split>*+* {
        /* Any element that has a sibling before it */
        margin-left: 2em;
    }
}

@media (min-width: 100em) {
    .split {
        flex-direction: row;
    }

    .split>.split--larger {
        flex-basis: 70%;
    }

    .split>.split--smaller {
        flex-basis: 30%;
    }
}

/* Navigation */
.highlight {
    color: rgb(var(--clr-secondary-1));
}

#skip-navigation {
    position: absolute;
    left: 6em;
    top: -1000px;

    font-size: 0.75em;
    text-decoration: none;
    color: rgb(var(--clr-neutral-2));
    font-family: var(--ff-secondary);
    text-transform: uppercase;
    background-color: rgb(var(--clr-neutral-3));
    padding: 0.5rem;
    border-radius: 1rem;
    border: 2px solid rgb(var(--clr-neutral-2));
    transition: border 100ms ease-out;
    z-index: 1;
}

#skip-navigation:focus {
    top: 1.5em;
    outline: none;
}

#skip-navigation:hover {
    border: 2px solid rgb(var(--clr-neutral-1));
}

.logo {
    height: 3em;
    width: auto;
    border-radius: 50%;
}

/* Banner */
.banner-container {
    width: 100%;
    height: 20rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(var(--clr-neutral-1), 0.7) url(../images/banner.jpg);
    background-size: cover;
    background-position: 50% 25%;
}

.banner-text>hr {
    background: linear-gradient(to right, rgba(var(--clr-primary-2), 0), rgba(var(--clr-primary-2), 1), rgba(var(--clr-primary-2), 0));
}

.banner-text>h1 {
    color: rgb(var(--clr-primary-2));
}

.banner-text>p {
    color: rgb(var(--clr-neutral-2));
    text-align: center;
}

.img-overlay {
    background-blend-mode: darken;
}

.banner-container>figcaption,
.banner-container>figcaption>a {
    color: rgba(var(--clr-neutral-2), 0.5);
}

.banner-container>figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
}

.img-medium {
    width: 25em;
    height: auto;
    margin: 0 auto;
}

/* Image slide-gallery */
.slide-gallery {
    --gallery-img-width: 35rem;
    --gallery-img-height: 23rem;

    position: relative;
    margin: 1em auto;
    width: var(--gallery-img-width);
    height: calc(var(--gallery-img-height) + 2em);
    overflow: hidden;
}

.slide-gallery img {
    width: var(--gallery-img-width);
    height: var(--gallery-img-height);
    aspect-ratio: initial;
}

.gallery-images {
    position: absolute;
    display: flex;
    left: 0;
    transition: 1s ease-in-out;
}

.gallery-btn-prev,
.gallery-btn-next {
    position: absolute;
    top: 0%;
    min-width: 1em;
    height: var(--gallery-img-height);
    line-height: var(--gallery-img-height);
    font-size: 1.5em;
    padding: 0.5rem;
    
    background-color: rgba(var(--clr-neutral-1), 0.1);
    color: rgba(var(--clr-neutral-2), 0.8);
    cursor: pointer;
    transition: .5s ease-in-out;
}

.gallery-btn-prev {
    left: 0;
}

.gallery-btn-next {
    right: 0;
}

.gallery-btn-prev:hover,
.gallery-btn-next:hover {
    background-color: rgba(var(--clr-neutral-1), 0.6);
    color: rgb(var(--clr-neutral-2));
}

.balls {
    position: absolute;
    bottom: 2.5em;
    left: 50%;
    display: flex;
    transform: translatex(-50%);
}

.balls .ball {
    width: 0.75em;
    aspect-ratio: 1 / 1;
    border: 1px solid rgb(var(--clr-neutral-3));
    border-radius: 50%;
    margin: 0.5em;
    transition: .3s ease-in-out;
    cursor: pointer;
}

.balls .active {
    background-color: rgba(var(--clr-neutral-2), 0.4);
}

/* Opening Hours */
#opening-hours-container {
    line-height: 1.75em;
    width: 14em;
    margin: 0 auto;
    align-items: center;
}

#opening-hours-container>ul {
    list-style: none;
    text-align: center;
    padding: 0;
}

#opening-hours-container>div {
    text-align: center;
}

/* Footer */

.footer-container {
    display: flex;
    align-items: center;
    padding: 1em 5vw;
    justify-content: space-between;
}

.footer-container>* {
    margin: 2em;
}

.footer-container>div:first-child {
    margin-right: auto;
}

.footer-container>div:last-child {
    margin-left: auto;
}

.social-media-icon {
    display: inline-block;
    margin: 0.1em;
    fill: white;
    height: 2em;
    aspect-ratio: 1;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(139deg) brightness(103%) contrast(101%);
}